
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env*

# Node
node_modules/
dist/
.DS_Store

# Uploads (Keep gitkeep if needed, but ignore files)
backend/uploads/*
!backend/uploads/.gitkeep
server/uploads/*
!server/uploads/.gitkeep

# Database
backend/instance/
*.db
*.log

# Firebase & Secrets (CRITICAL)
serviceAccountKey.json
server/serviceAccountKey.json
*.pem
*.key
